<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web Automation Testing With Selenium">
    <listeners>
        <listener class-name="utils.CustomListeners"/>
    </listeners>
    <parameter name="test_url" value="https://www.utest.com/signup/personal"/>
    <parameter name="runMode" value="local"/>
    <test name="Wizeline Step 1 submit test" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="clearData" value="false"/>
        <parameter name="firstName" value="ThanhMai"/>
        <parameter name="lastName" value="TM"/>
        <parameter name="email" value="tmabcd@gmail.com"/>
        <parameter name="month" value="number:1"/>
        <parameter name="day" value="number:1"/>
        <parameter name="year" value="number:2004"/>
        <classes>
            <class name="test_cases.Step1SubmitTest">
                <methods>
                    <include name="tc_step1SubmitTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>